$designWidth:750;
@mixin sefFont($px) {
    font-size: $px+px;
    [data-dpr="2"] & {
        font-size: 2*$px+px;
    }
    [data-dpr="3"] & {
        font-size: 3*$px+px;
    }
}

.fs-18,
.h1 {
    @include set-font(18);
}

.fs-16,
.h2 {
    @include set-font(16);
}

.fs-15 {
    @include set-font(15);
}

.fs-14,
.h3 {
    @include set-font(14);
}

.fs-12 .h5 {
    @include set-font(12);
}

.fs-10 {
    @include set-font(10);
}

@function px2rem($px) {
    @return $px*320/$designWidth/20+rem;
}

@function pvh($px) {
    @return $px/$designHeight*100+vh;
}