$designWidth:750;
@mixin set-font($px) {
    font-size: $px+px;
    [data-dpr="2"] & {
        font-size: 2*$px+px;
    }
    [data-dpr="3"] & {
        font-size: 3*$px+px;
    }
}
@function px2rem($px) {
    @return $px*320/$designWidth/20+rem;
}

@function pvh($px) {
    @return $px/$designHeight*100+vh;
}
@mixin h1(){
    @include set-font(18);
    line-height: px2rem(25);
}
@mixin h2(){
    @include set-font(16);
    line-height: px2rem(22);
}
@mixin fs-15(){
    @include set-font(15);
    line-height: px2rem(21);
}
@mixin h3(){
    @include set-font(14);
    line-height: px2rem(20);
}
@mixin h5(){
    @include set-font(12);
    line-height: px2rem(17);
}
@mixin fs-10(){
    @include set-font(10);
    line-height: px2rem(14);
}
@mixin bgm() {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@mixin fs-lh($valA, $valB) {
    @include set-font($valA);
    line-height: px2rem($valB);
}

@mixin h-lh($px) {
    line-height: px2rem($px);
    height: px2rem($px);
}

@mixin fs-h-lh($valA, $valB) {
    @include set-font($valA);
    @include h-lh($valB);
}

@mixin shadow {
    box-shadow: 0 px2rem(3) px2rem(19) $shadow;
}
@mixin no-wrap{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
$disable:#cecece;
$primary:#2156a3;
$lightBg:#f4f8fe;
$bgfe:#fafcfe;
$bgfd:#a8cafd;
$greye1:#e1e1e1;
$grey32:#323232;
$grey5c:#5c5c5c;
$greya8:#a8a8a8;
$grey71:#717171;
$greyfb:#f9f9fb; //手机端默认背景颜色
$grey97:#979797;
$goldc9:#c9a682;
$gold2f:#B1712F;
$red:#d0021b;
$red19:#9f0619;
$red33:#FC3333;
$black12:#121212;
$yellow61:#FFE261;
$orange:#FF6000;
$orange23:#F5A623;
$shadow:rgba(114, 116, 119, .17);
$blueff:#d2e4ff;